#red,#blue,#orange,#green{
  padding: 20px;
  width: 6em;
  color: white;
  display: inline;
}

#red {background: red; }
#blue {background: blue;}
#orange {background: orange;}
#green {background: green;}

#box {
  background:gray;
  padding:1em;
  width: 18em;

}



